/********************/
/***The whole body***/
/********************/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}



/******************/
/***Instructions***/
/******************/

h1, p, h3 {
    display: -webkit-box;
    margin: 7% 0% 4% 0%;
    text-align: -webkit-center;
}

h1 {
    color: #333333;
    text-transform: capitalize;
    letter-spacing: 5px;
}

p, h3 {
    color: #404040;
    margin: -1% -10%;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0% 0% 0% 36%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    margin: 0px 0px 0px -60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/***********************/
/***Sample colour box***/
/***********************/

#display {
    width: 60%;
    height: 80px;
    background: rgb(128, 128, 128);
    transition: background 100ms;
    margin: auto;
    margin-top: 5%;
    border: 5px solid grey;
    color: white;
    text-align: center;
    text-transform: capitalize;   
}





/******************/
/***Color-picker***/
/******************/

.color-picker {
    position: absolute;
    top: 2%;
    left: 18%;
    bottom: 0%;
    right: 0%;
    margin: 33% 0% 0% 0%;
    width: 61%;
    height: 350px;
    padding-top: 0%;
}

.color-picker input {
    display: inline-block;
    width: 100%;
    margin-top: 0%;
}
 
.red, .green, .blue {
    margin: 0px 43px 0px 58px;
    padding: 10px 4px 9px 0px;
}

.red {
    background-color: #ff9999;
}

.green {
    background-color: #9fdfbf;
}

.blue {
    background-color: #66a3ff;
}

.red:hover {
    background-color: red;
}

.green:hover {
    background-color: green;
}

.blue:hover {
    background-color: blue;
}





/*************/
/***Buttons***/
/*************/


button:hover {
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttons {    
    position: relative;
    margin: 28% 1% 2% 33.5%;
    padding: 0% 12% 1% 5%;
    display: table;   
    text-orientation: sideways;
}

button#changecolors, button#reset {
    position: inline-block;
    width: 65%;
    height: 60px;
    font-size: medium;
}

button#changecolors {
    margin: 0% -4% 4% -40%;
    padding: 3% 0% 1% 0%;
}

button#reset {
    margin: 0% -4% 4% 6%;
    padding: 3% 0% 1% 0%;
}

button#randomcolors {
    width: 132%;
    margin: 2% 0% 3% -40%;
    padding: 4% 20% 1% 20%;
}
